body {
  font-family: "Times New Roman",Georgia,Serif;
}
#container {
  width: 500px;
  margin: auto;
  height: 300px;
  min-width: 300px;
}
#last_received_div {
  margin: auto;
  width: 500px;
  text-align: center;
  padding-top: 2em;
}
